.searchCustomer{
  margin: 7px 32px 0 10px;
  width: 418px;
  height: 32px;
}

.containerCustomer{
  width: 100px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.containerCustomer input#search{
	width: 200px;
	height: 32px;
	border: none;
	font-size: 10pt;
	float: left;
	color: #262626;
	padding-left: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

.containerCustomer .icon{
	position: absolute;
	top: 50%;
	margin-left: 10px;
	margin-top: 9px;
	z-index: 1;
	color: #4f5b66;
}

.icon__add{
	font-size: 16px;
}

.containerCustomer input#search:hover, .containerCustomer input#search:focus, .containerCustomer input#search:active{
    outline:none;
    background: #ffffff;
}